/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/ui/admin/payments/main.scss ***!
  \**************************************************************************************************************************/
:root {
  /* SIZES */
  --space: 8px;
  --s025: calc(var(--space) * 0.25);
  --s05: calc(var(--space) * 0.5);
  --s075: calc(var(--space) * 0.75);
  --s: var(--space);
  --s15: calc(var(--space) * 1.5);
  --s2: calc(var(--space) * 2);
  --s3: calc(var(--space) * 3);
  --s4: calc(var(--space) * 4);
  --s45: calc(var(--space) * 4.5);
  --s5: calc(var(--space) * 5);
  --s6: calc(var(--space) * 6);
  --s7: calc(var(--space) * 7);
  --s8: calc(var(--space) * 8);
  --s9: calc(var(--space) * 9);
  --s10: calc(var(--space) * 10);
  --s12: calc(var(--space) * 12);
  --s14: calc(var(--space) * 14);
  --s16: calc(var(--space) * 16);
  --s18: calc(var(--space) * 18);
  --s20: calc(var(--space) * 20);
  --color-light: #ffffff;
  --color-dark-transparent-a: #ffffff88;
  --color-0: #ea6d4e;
  --color-1: #ca2721;
  --color-2: #55413d;
  --color-3: #334155;
  --color-4: hsl(90, 11%, 86%);
  --color-5: #FFFFFF;
  --color-6: #054948;
  --color-7: #111111;
  --color-8: rgba(255, 255, 255, 0.78);
  --color-info: #35ca21;
  --color-warn: var(--color-0);
  --color-error: var(--color-1);
  --color-borders: var(--color-3);
}
:root :root {
  --fc-button-text-color: var(--color-5);
  --fc-button-bg-color: var(--color-0);
  --fc-button-border-color: var(--color-0);
  --fc-button-hover-bg-color: var(--color-1);
  --fc-button-hover-border-color: var(--color-1);
  --fc-button-active-bg-color: var(--color-1);
  --fc-button-active-border-color: var(--color-1);
  --fc-event-bg-color: var(--color-1);
  --fc-event-border-color: var(--color-1);
  --fc-event-text-color: var(--color-5);
  --fc-event-selected-overlay-color: var(--color-0);
}

#PaymentsAPP {
  border: solid 1px var(--color-borders);
  padding: var(--s3) var(--s3) var(--s3);
  border-radius: var(--s);
  margin-top: var(--s);
  position: relative;
  overflow: hidden;
}
#PaymentsAPP .Payments .Loading {
  font-weight: bold;
  padding: var(--s) 0 0 0;
}
#PaymentsAPP .Payments .Header,
#PaymentsAPP .Payments .Pay,
#PaymentsAPP .Payments .AddPay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--s2);
  border: solid var(--color-borders);
  border-width: 0 0 1px 0;
  padding: var(--s05) 0;
}
#PaymentsAPP .Payments .Header .Column.Field.user_mail,
#PaymentsAPP .Payments .Pay .Column.Field.user_mail,
#PaymentsAPP .Payments .AddPay .Column.Field.user_mail {
  flex: 1.4;
}
#PaymentsAPP .Payments .Header .Column.Field.post_id,
#PaymentsAPP .Payments .Pay .Column.Field.post_id,
#PaymentsAPP .Payments .AddPay .Column.Field.post_id {
  flex: 0.6;
}
#PaymentsAPP .Payments .Header .Column.Field .components-base-control,
#PaymentsAPP .Payments .Pay .Column.Field .components-base-control,
#PaymentsAPP .Payments .AddPay .Column.Field .components-base-control {
  max-width: 300px;
}
#PaymentsAPP .Payments .Header .Column.Field .components-base-control .components-base-control__field,
#PaymentsAPP .Payments .Pay .Column.Field .components-base-control .components-base-control__field,
#PaymentsAPP .Payments .AddPay .Column.Field .components-base-control .components-base-control__field {
  margin: 0;
}
#PaymentsAPP .Payments .Header .Column.Field .Edit,
#PaymentsAPP .Payments .Pay .Column.Field .Edit,
#PaymentsAPP .Payments .AddPay .Column.Field .Edit {
  display: flex;
  align-items: center;
}
#PaymentsAPP .Payments .Header .Column.Tools,
#PaymentsAPP .Payments .Pay .Column.Tools,
#PaymentsAPP .Payments .AddPay .Column.Tools {
  width: var(--s10);
}
#PaymentsAPP .Payments .Header .Column.Tools button,
#PaymentsAPP .Payments .Pay .Column.Tools button,
#PaymentsAPP .Payments .AddPay .Column.Tools button {
  width: var(--s10);
  justify-content: center;
}
#PaymentsAPP .Payments .Header {
  justify-content: flex-end;
}
#PaymentsAPP .Payments .Pay .Column .Edit {
  display: flex;
  gap: var(--s);
}
#PaymentsAPP .Payments .Pay .Column .Edit .components-input-control,
#PaymentsAPP .Payments .Pay .Column .Edit .components-select-control {
  width: 100%;
}
#PaymentsAPP .Payments .Header {
  align-items: flex-end;
}
#PaymentsAPP .Payments .Header .Column {
  font-weight: bold;
}

.components-modal__screen-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.components-modal__screen-overlay .components-modal__frame.PaymentsAPPModal {
  max-width: 360px;
  height: fit-content;
  border-radius: var(--s);
}
.components-modal__screen-overlay .components-modal__frame.PaymentsAPPModal .components-modal__content .Text {
  margin: 0 0 var(--s) 0;
}
.components-modal__screen-overlay .components-modal__frame.PaymentsAPPModal .components-modal__content button {
  float: right;
}

#PaymentsAPP .Messages {
  position: absolute;
  top: 0;
  left: 50%;
  width: 360px;
  padding: var(--s3);
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-light);
  box-shadow: 0 0 12px --color-dark-transparent-a;
  transform: translateX(-50%) translateY(-100%);
  transition-property: transform;
  transition-duration: 0.5s;
}
#PaymentsAPP .Messages.Open {
  transform: translateX(-50%) translateY(0);
}
#PaymentsAPP .Messages.Open.Info {
  color: var(--color-info);
}
#PaymentsAPP .Messages.Open.Error {
  color: var(--color-error);
}
#PaymentsAPP .Messages.Open.Warn {
  color: var(--color-warn);
}

/*# sourceMappingURL=main.css.map*/