@use './styles';

.wp-block-column:has(.wp-block-poeticsoft-columntools) {

  position: relative;

  .wp-block-poeticsoft-columntools {

    width: 38px;
    height: 38px;
    box-sizing: border-box;
    padding: var(--s);
    border: solid 1px var(--color-borders);
    width: fit-content;
    margin: 0 0 0 auto;
    cursor: pointer;  
    
    .OpenClose {

      &::before {

        font-family: dashicons;
        display: inline-block;
        line-height: 1;
        font-weight: 400;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 20px;
        height: 20px;
        font-size: 20px;
        vertical-align: top;
        text-align: center;
        transition: color .1s ease-in;
      }
    }
  }  

  // f343 arrow up
  // f347 arrow down
  // f345 arrow right
  // f341 arrow left

  &.Open {

    .wp-block-poeticsoft-columntools
    .OpenClose {      

      &::before {

        content: "\f341";        

        @media (max-width: 780px) {          

          content: "\f343";
        }
      }
    }
  }

  &.Closed {

    flex-basis: 38px !important;

    > * {

      display: none;
    }

    .wp-block-poeticsoft-columntools
    .OpenClose {      

      &::before {

        content: "\f345";        

        @media (max-width: 780px) {          

          content: "\f347";
        }
      }
    }
  }  

  .wp-block-poeticsoft-columntools {
    
    display: inherit;
  }
}