/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/admin/main.scss ***!
  \**************************************************************************************************************/
@charset "UTF-8";
:root {
  /* SIZES */
  --space: 8px;
  --s025: calc(var(--space) * 0.25);
  --s05: calc(var(--space) * 0.5);
  --s075: calc(var(--space) * 0.75);
  --s: var(--space);
  --s15: calc(var(--space) * 1.5);
  --s2: calc(var(--space) * 2);
  --s3: calc(var(--space) * 3);
  --s4: calc(var(--space) * 4);
  --s45: calc(var(--space) * 4.5);
  --s5: calc(var(--space) * 5);
  --s6: calc(var(--space) * 6);
  --s7: calc(var(--space) * 7);
  --s8: calc(var(--space) * 8);
  --s9: calc(var(--space) * 9);
  --s10: calc(var(--space) * 10);
  --s12: calc(var(--space) * 12);
  --s14: calc(var(--space) * 14);
  --s16: calc(var(--space) * 16);
  --s18: calc(var(--space) * 18);
  --s20: calc(var(--space) * 20);
}

.poeticsoft_content_payment_assign_price_column .Column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.poeticsoft_content_payment_assign_price_column .Column .Indents .Ancestor {
  display: inline-block;
  width: var(--s4);
  position: relative;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio {
  padding: 0 0 4px 0;
  margin: 0 0 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Type {
  display: none;
  padding: 3px var(--s) 5px;
  color: #fff;
  width: var(--s5);
  text-align: center;
  border-radius: 4px 0 0 4px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Type.Free {
  background-color: #00b800;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Type.Sum {
  background-color: #0400ff;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Type.Local {
  background-color: #ff6600;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.free .Type.Free {
  display: inherit;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.sum .Type.Sum {
  display: inherit;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.local .Type.Local {
  display: inherit;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Suma,
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Currency {
  border: solid #ccc;
  padding-top: 2px;
  padding-bottom: 4px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Suma {
  font-weight: bold;
  border-width: 1px 0;
  padding-left: var(--s);
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .Currency {
  border-width: 1px 1px 1px 0;
  padding-left: var(--s05);
  padding-right: var(--s);
  border-radius: 0 4px 4px 0;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.free .Suma,
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.free .Currency {
  color: #ccc;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .OpenClose {
  width: var(--s3);
  height: var(--s3);
  margin-right: var(--s);
  position: relative;
  cursor: pointer;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .OpenClose:after, .poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .OpenClose:before {
  content: "";
  display: block;
  width: var(--s15);
  height: 1px;
  background-color: #919191;
  position: absolute;
  left: 6px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .OpenClose:after {
  transform: rotate(45deg);
  top: var(--s);
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio .OpenClose:before {
  transform: rotate(-45deg);
  top: var(--s2);
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.Opened .OpenClose:after, .poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.Opened .OpenClose:before {
  top: var(--s15);
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.Opened .OpenClose:after {
  left: 2px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price p.Precio.Opened .OpenClose:before {
  left: 10px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors {
  display: none;
  border: solid #ccc;
  border-width: 1px 0 0 0;
  padding-top: var(--s05);
  padding-left: 3px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors.Opened {
  display: inherit;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector {
  margin: 0 0 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector.Free {
  margin: 0 0 var(--s);
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector.Sum {
  margin: 0 0 4px;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector.Sum .SumaDiscount {
  margin: 0 var(--s);
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector input[type=number] {
  width: 66px;
  margin: 0 var(--s) 0 0;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector .Legend,
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector input[type=number] {
  opacity: 0.4;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector.Selected .Legend,
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors p.Selector.Selected input[type=number] {
  opacity: 1;
}
.poeticsoft_content_payment_assign_price_column .Column .Price .Selectors .Suma {
  font-weight: bold;
}

body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr {
  display: none;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr th.check-column {
  padding-top: var(--s15);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title {
  padding-left: 0;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer {
  margin-bottom: 0;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .OpenClose {
  display: inline-block;
  vertical-align: middle;
  width: var(--s3);
  height: var(--s3);
  margin-right: var(--s05);
  position: relative;
  cursor: pointer;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .OpenClose:after, body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .OpenClose:before {
  content: "";
  display: block;
  width: var(--s15);
  height: 1px;
  background-color: #919191;
  position: absolute;
  left: 6px;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .OpenClose:after {
  transform: rotate(45deg);
  top: var(--s);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .OpenClose:before {
  transform: rotate(-45deg);
  top: var(--s2);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .Indent {
  display: inline-block;
  vertical-align: middle;
  width: var(--s3);
  height: var(--s3);
  margin-right: var(--s);
  position: relative;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer .Indent:before {
  content: "";
  display: block;
  width: var(--s);
  height: var(--s);
  border: solid 1px #919191;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 50%;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr td.column-title .TitleContainer a.row-title {
  display: inline-block;
  vertical-align: middle;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-1 td.column-title {
  padding-left: calc(var(--s4) * 1);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-2 td.column-title {
  padding-left: calc(var(--s4) * 2);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-3 td.column-title {
  padding-left: calc(var(--s4) * 3);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-4 td.column-title {
  padding-left: calc(var(--s4) * 4);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-5 td.column-title {
  padding-left: calc(var(--s4) * 5);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-6 td.column-title {
  padding-left: calc(var(--s4) * 6);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-7 td.column-title {
  padding-left: calc(var(--s4) * 7);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-8 td.column-title {
  padding-left: calc(var(--s4) * 8);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-9 td.column-title {
  padding-left: calc(var(--s4) * 9);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-10 td.column-title {
  padding-left: calc(var(--s4) * 10);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.Opened td.column-title .TitleContainer .OpenClose:after, body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.Opened td.column-title .TitleContainer .OpenClose:before {
  top: var(--s15);
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.Opened td.column-title .TitleContainer .OpenClose:after {
  left: 2px;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.Opened td.column-title .TitleContainer .OpenClose:before {
  left: 10px;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.level-0, body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.Visible {
  display: table-row !important;
}
body.PoeticsoftContentPayment.wp-admin.post-type-page #the-list tr.InCampus td.column-title .TitleContainer a.row-title:before {
  content: "📚";
  margin-right: var(--s05);
}

/*# sourceMappingURL=main.css.map*/