@use '~styles/mixin' as *;

#PaymentsAPP { 

  .Payments { 

    .Header,
    .Pay,
    .AddPay {

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--s2);
      border: solid var(--color-borders);
      border-width: 0 0 1px 0;
      padding: var(--s05) 0;

      .Column {
        
        &.Field {

          flex: 1; 

          .components-base-control {

            max-width: 300px;

            .components-base-control__field {

              margin: 0;
            }
          }

          .Edit {
            display: flex;
            align-items: center;
          }
        }

        &.Tools {

          button {

            width: var(--s10);
            justify-content: center;
          }
        }
      }
    }

    .Pay {


    }

    .Header {

      align-items: flex-end; 
      
      .Column {

        font-weight: bold;
      }
    }
  }
}