.components-modal__screen-overlay {

  display: flex;
  align-items: center;
  justify-content: center;

  .components-modal__frame.PaymentsAPPModal {

    max-width: 360px;
    height: fit-content;
    border-radius: var(--s);

    .components-modal__content {

      .Text {

        margin: 0 0 var(--s) 0;
      }

      button {

        float: right;
      }
    }
  }
}