@use '~styles/mixin' as *;

#PaymentsAPP { 

  border: solid 1px var(--color-borders);
  padding:  var(--s3) var(--s3) var(--s3);
  border-radius: var(--s);
  margin-top: var(--s);
  position: relative;
  overflow: hidden;

  .Payments { 

    .Loading {

      font-weight: bold;
      padding: var(--s) 0 0 0;
    }

    .Header,
    .Pay,
    .AddPay {

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--s2);
      border: solid var(--color-borders);
      border-width: 0 0 1px 0;
      padding: var(--s05) 0;

      .Column {
        
        &.Field {

          &.user_mail {

            flex: 1.4;
          }

          &.post_id {

            flex: 0.6;            
          }

          .components-base-control {

            max-width: 300px;

            .components-base-control__field {

              margin: 0;
            }
          }

          .Edit {
            display: flex;
            align-items: center;
          }
        }

        &.Tools {        
          
          width: var(--s10);
          
          button {

            width: var(--s10);
            justify-content: center;
          }
        }
      }
    }

    .Header {

      justify-content: flex-end;
    }    

    .Pay {

      .Column .Edit {

        display: flex;
        gap: var(--s);

        .components-input-control,
        .components-select-control {

          width: 100%;
        }
      }


    }

    .Header {

      align-items: flex-end; 
      
      .Column {

        font-weight: bold;
      }
    }
  }
}