@use './styles';

.components-panel__body.CTACampus {

  .Controls {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 8px 16px;

    .SelectorPage {

      width: 100%;
      margin-bottom: 0;
    }

    .Discount,
    .Contents {

      margin-bottom: 0;
    }

    .Discount {

      flex: 0.7;
    }

    .Contents {

      flex: 1.3;
      height: 32px;
    }
  }
}

.wp-block-poeticsoft-ctacampus {

  width: fit-content;

  .NoTree {

    border: 1px solid #ccc;
    padding: 6px 8px;
  }
}

.components-modal__frame.CTAEditTexts {

  .EditContentLabel {

    margin: 16px 0 6px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .rich-text.EditContent {

    border: solid 1px #949494;
    padding: 6px 8px;
    min-height: 6em;
    max-width: 286px;
    box-sizing: border-box;
  }
}