@use '~styles/mixin' as *;

#the-list tr td.PCPPrice,
.wrap.nestedpages
.nestedpages
ol
li 
.row
.PCPPrice {
  
  width: 120px;
}

.wrap.nestedpages
.nestedpages
ol
li 
.row
.PCPPrice {

  display: table-cell;
  padding: 0 var(--s) 0 0;
}

#pcp_page_assign_price
.inside
.pricewrapper
.PCPPrice
.PriceForm {

  width: 100%;
}