@use '~styles/mixin' as *;

#the-list tr td.PCPPrice,
.wrap.nestedpages
.nestedpages
ol
li 
.row
.PCPPrice {
  
  width: 164px;

  .PriceForm {

    width: 100%;
    position: relative;
  
    .Selectors {
    
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 180px;
    }
  }
}

.wrap.nestedpages
.nestedpages
ol
li 
.row
.PCPPrice {

  display: table-cell;
  padding: 0 var(--s) 0 0;
}

.wrap.nestedpages
.nestedpages
ol
li 
.row
.PCPPrice {
}

#pcp_page_assign_price
.inside
.pricewrapper
.PCPPrice
.PriceForm {

  width: 100%;
}

.PCPPrice {

  .PriceForm {

    position: relative;
    margin-top: var(--s05);

    .Selectors {

      position: relative;
      display: block;    
      background-color: #fff;
      border: solid 1px #ccc;
      padding: var(--s3) var(--s15) var(--s15);
      border-radius: 3px;

      label {

        cursor: pointer;
      }

      .Tools {

        position: absolute;
        top: var(--s);
        right: var(--s);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--s);
        
        button {

          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          padding: 0;

          &.Close {

            font-size: 1.2em;
            line-height: 0;
            padding: 0 0 var(--s05);
          }
        }
      }
      
      .Selector {

        margin: 0 0 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &.free {

          margin: 0 0 var(--s);
        }

        &.sum {

          margin: 0 0 4px;

          .SumaDiscount {

            margin: 0 var(--s);
          }

          .Currency {

            white-space: nowrap;
          }
        }

        &.local {
          
          margin: 0 0 0;
        }

        input[type=radio] {

          margin: 0 var(--s05) 0 0;
        }

        input[type=number] {

          width: 66px;
          margin: 0 var(--s) 0 0;

          &.discount {

            width: 80px;
            padding: 0 0 0 var(--s);
          }

          &.value {

            width: 76px;
            padding: 0 0 0 var(--s);
          }
        }

        label,
        .Currency,
        input[type=number] {

          opacity: 0.4;
        }

        &.Selected {

          label,
          .Currency,
          input[type=number] {

            opacity: 1;
          }
        }
      }

      .Updating {

        @include absolutebox();
        background-color: rgba(255, 255, 255, 0.8);
        
        display: none;

        .Text {

          @include absolutebox();
          @include flexcenter();
          font-weight: bold;
        }
      }
    }
  } 
}

