#pcp_campus_page_initdate_date {
  
  .inside {
    
    .pageinitdatewrapper {

      padding: 0 0 var(--s6) 0;

      .DatePicker  {

        .ui-datepicker-inline {

          width: 100%;
          box-sizing: border-box;
          padding: var(--s);
        }
      }
    }
  }
}