@use '~styles/root';

.components-panel__body.PostContentConfig {

  .Texts {

    .EditTitle {

      font-size: 11px;
      font-weight: 500;
      line-height: 1.4;
      text-transform: uppercase;
    }

    .EditText{

      border: 1px solid var(--color-borders);
      padding: var(--s);
      margin: var(--s05) 0;
    }

    .Help {

      font-size: 11px;
    }
  }

  .Texts + .Texts {

    margin-top: var(--s2);
  }
}