.PCPPrice {

  display: flex;
  justify-content: flex-end;
  padding: 0 var(--s) 0 0;

  .Precio {  

    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .Type {

      display: none; 
      padding: 4px 8px 5px 6px;
      color: #fff;
      width: var(--s4);
      text-align: center;
      border-radius: 4px 0 0 4px;

      &.Free {

        background-color: #00b800;
      }

      &.Sum {

        background-color: #0400ff;
      }

      &.Local {

        background-color: #ff6600;
      }
    }          

    &.free {
  
      .Type.Free { 
        
        display: inherit; 
      }
    }

    &.sum {
      
      .Type.Sum { 
        
        display: inherit; 
      }
    }

    &.local {
      
      .Type.Local { 
        
        display: inherit; 
      }
    }

    .PriceForm {

      width: 0;
      position: relative;

      .Selectors {
        
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #fff;
        border: solid 1px #ccc;
        z-index: 999;
        padding: var(--s2) var(--s2) var(--s05);

        .Tools {

          position: absolute;
          top: var(--s);
          right: var(--s);
          
          button {

            width: 30px;
            height: 30px;
          }
        }
        
        .Selector {

          margin: 0 0 8px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &.free {

            margin: 0 0 var(--s);
          }

          &.sum {

            margin: 0 0 4px;

            .SumaDiscount {

              margin: 0 var(--s);
            }

            .Currency {

              white-space: nowrap;
            }
          }

          input[type=radio] {

            margin: 0 var(--s05) 0 0;
          }

          input[type=number] {

            width: 66px;
            margin: 0 var(--s) 0 0;
          }

          .Legend,
          .Currency,
          input[type=number] {

            opacity: 0.4;
          }

          &.Selected {

            .Legend,
            .Currency,
            input[type=number] {

              opacity: 1;
            }
          }
        }
        
        .Suma {

          font-weight: bold;
        }
      }
    }      

    .Value {

      display: flex;
      justify-content: flex-start;
      align-items: center; 
      padding: 4px 8px 3px 6px;
      border: solid #ccc;
      border-width: 1px 1px 1px 0;
      border-radius: 0 4px 4px 0; 
      min-width: var(--s6);

      .Suma {

        font-weight: bold;
        margin: 0 var(--s05) 0 0;
      }

      .Currency {

      }
    }

    &.free {

      .Value {

        .Suma,
        .Currency {

          color: #ccc;
        }
      }
    }
  }
}