@use 'styles/root';

.wp-block-poeticsoft-children {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--s2);

  .Child {

    flex: 1;
    min-width: 140px;
    max-width: 200px;

    .Image {

      img {

        display: block;
        width: 100%;
      }
    }

    .Title {

      text-align: center;
    }
  }

  .NoContents {

    font-weight: 600;
  }
}