@use '~styles/root';

.wp-block-poeticsoft_content_payment_postcontent {

  text-align: center;
  border: solid 1px #ccc;
  padding: var(--s3);

  .Explain {

    
  }

  .Identify {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--s);
    margin-top: var(--s3);

    .Email {

      padding: calc(var(--s15) + 0.5px) var(--s3);
      font-family: var(--wp--preset--font-family--barlow);
    }

    .wp-block-button {

      display: inline-block;

      a {

        display: inline-block;
      }
    }
  }  
} 