@use 'styles/root';

.wp-block-poeticsoft-campuscontainerchildren {

  > .Title {

    margin: 0 0 var(--s2);
    text-align: center;
    font-weight: bold;
  }

  .Areas {

    display: flex;
    justify-content: space-between; 
    gap: var(--s3);
    flex-wrap: wrap;

    .Area {

      flex: 1;
      border-color: #E2E8F0;
      border-width: 1px;
      border-radius: 12px;
      background-color: #FFFFFF;
      padding: 32px;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);

      transition-property: transform, box-shadow;
      transition-duration: 0.5s;

      &:hover {

        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
        border-color: #E2E8F0;
      }

      .Image {

        img {

          width: 100%;
          display: block;
          border-radius: 8px;
        }
      }

      .Title {

      }

      .Excerpt {

        
      }
    }
  }
}