@use './styles';

.wp-block-poeticsoft-campuscontainerchildren {

  > .Title {

    margin: 0 0 var(--s2);
    text-align: center;
    font-weight: bold;
  }

  .Areas {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--s3);

    .Area {        

      width: 100%;
      border-color: #E2E8F0;
      border-width: 1px;
      border-radius: 12px;
      background-color: #FFFFFF;
      padding: 32px;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
      box-sizing: border-box;

      transition-property: transform, box-shadow;
      transition-duration: 0.5s;

      &:hover {

        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
        border-color: #E2E8F0;
      }

      .Title {

        margin-top: 0;
        cursor: pointer;
      }

      .Image {

        cursor: pointer;

        img {

          width: 100%;
          display: block;
          border-radius: 8px;
        }
      }

      .Excerpt {
        
        margin-top: var(--s2);
      }
    }
  }
}