@use 'styles/root';

.wp-block-poeticsoft-pagenav {

  .Page {

    border: 1px solid #ccc;
    padding: var(--s2);

    .Title {

      margin-block-start: 0;
      margin-block-end: 0;
    }

    .Excerpt {

      margin: var(--s2) 0;
    }

    .Pages {

      
    }
  }

  .Page + .Page {

    margin: var(--s2) 0 0 0;
  }
}